@{
    ViewData["Title"] = "E-Posta Doğrulama Gerekli";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger text-center">@TempData["ErrorMessage"]</div>
}
<div class="container mt-5">
    <div class="alert alert-warning text-center">
        <h4>Lütfen hesabınızı doğrulamak için e-postanızı kontrol ediniz.</h4>
    </div>

    <div class="text-center mt-3">
        <a href="/Auth/Login" class="btn btn-primary">Giriş Yap</a>
    </div>
</div>
