@model ForgotPasswordRequestModel

@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<h2 class="text-center">Şifremi Unuttum</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info text-center">
        @TempData["Message"]
    </div>
}

<form asp-action="ForgotPassword" asp-controller="Home" method="post" class="mt-4">
    <div class="form-group">
        <input asp-for="Email" type="email" class="form-control" placeholder="E-posta adresinizi giriniz">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-block mt-3">Şifre Sıfırla</button>
</form>

<div class="text-center mt-3">
    <p>Giriş yapmak için <a href="@Url.Action("SignIn", "Home")">tıklayın</a></p>
</div>
